body{
    background: none;
    color: white;
    font-family: GB-garamond;
    cursor: none;
}


html{
background-color: black;
    background-image: url(src/1fondo_metro_trans79.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

p{
    font-size: 2em;
    letter-spacing: -0.03em;
    margin: 0;
}

.bg{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 177vh;
    transform: translate(-50%, -50%);
    z-index: -10;
}
.cursor{
    position: relative;
    z-index: -1;
}

.cursor img{
    transform: translate(-50%, -50%);
    position: absolute;
}
.parallax-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax-layer.dos img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110vh;
}


.parallax-layer.tres #img{
    transform: translate(-5%, 0%);
}

.parallax-layer.cuatro img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}

.parallax-layer.seis img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -20%);
    height: 350px;
}

.play:hover{
    transform: scale(1.05,1.05);
}

.play{
    margin-right: 15px;
}

h1{
 font-family: league-spartan; 
 font-size: min(6em, 14vw);
 line-height: 0;
}


@media (max-width: 768px) {
    .listening-to{
        font-size: 3.5em;
        margin-bottom: -10px;
    }

    .tres{
        margin-top: 200px;
    }
}

@font-face {
  font-family: GB-garamond;
  src: url(src/fonts/GB-garamond/EBGaramond-Medium.ttf);
}


@font-face {
  font-family: league-spartan;
  src: url(src/fonts/league-spartan/LeagueSpartan-Bold.ttf);
}
